<p id="notice"><%= notice %></p>


<table class="table table-bordered table-striped">
  <tr>
   
  <th>Customer Name</th>
    <th>Telephone Number</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>

    <td><%= customer.name %></td>
    <td><%= customer.telephone_number %></td>
    <td><%= customer.email %></td>
    </tr>
</table>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', orders_path %> 
