<h1>Listing orders</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Vehicle</th>
    <th>Order time</th>
    <th>Order date</th>
    <th>Pickup time</th>
    <th>Pickup date</th>
    <th>Pickup address</th>
    <th>Destination</th>
    <th>Number of passengers</th>
    <th>Driver</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.customer_id %></td>
    <td><%= order.vehicle_id %></td>
    <td><%= order.order_time %></td>
    <td><%= order.order_date %></td>
    <td><%= order.pickup_time %></td>
    <td><%= order.pickup_date %></td>
    <td><%= order.pickup_address %></td>
    <td><%= order.destination %></td>
    <td><%= order.number_of_passengers %></td>
    <td><%= order.driver %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
